# ==========================
# Backend Python (TechNest)
# ==========================

# Byte-compiled / optimized / DLL files
TechNest/__pycache__/
TechNest/*.py[codz]
TechNest/*$py.class

# C extensions
TechNest/*.so

# Distribution / packaging
TechNest/.Python
TechNest/build/
TechNest/dist/
TechNest/eggs/
TechNest/.eggs/
TechNest/lib/
TechNest/lib64/
TechNest/parts/
TechNest/sdist/
TechNest/wheels/
TechNest/share/python-wheels/
TechNest/*.egg-info/
TechNest/.installed.cfg
TechNest/*.egg
TechNest/MANIFEST
TechNest/firebase/notification-600a5-firebase-adminsdk-fbsvc-2f5f26028e

# Installer logs
TechNest/pip-log.txt
TechNest/pip-delete-this-directory.txt

# Unit test / coverage
TechNest/htmlcov/
TechNest/.tox/
TechNest/.nox/
TechNest/.coverage
TechNest/.coverage.*
TechNest/.cache/
TechNest/nosetests.xml
TechNest/coverage.xml
TechNest/*.cover
TechNest/*.py.cover
TechNest/.hypothesis/
TechNest/.pytest_cache/
TechNest/cover/

# Environments
TechNest/.env
TechNest/.envrc
TechNest/.venv
TechNest/env/
TechNest/venv/
TechNest/ENV/
TechNest/env.bak/
TechNest/venv.bak/

# IDE/Editor
TechNest/.idea/
TechNest/.spyderproject
TechNest/.spyproject
TechNest/.ropeproject
TechNest/.vscode/

# Others
TechNest/.mypy_cache/
TechNest/.pyre/
TechNest/.pytype/
TechNest/cython_debug/
TechNest/migrate_working_dir/

# ==========================
# Frontend Flutter
# ==========================

# Flutter/Dart build & cache
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE/Editor
frontend/.idea/
frontend/.vscode/

# Optional: ignore local env
frontend/.env
